@import url(https://fonts.googleapis.com/css?family=Lato);

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-family: 'lato', sans-serif;
	background: rgb(243, 243, 243);
	color: rgb(84, 84, 84);
}

nav {
	width: 100%;
	background: rgb(68, 126, 235);
	position: fixed;
	display: block;
	z-index: 10000;
	color: rgb(173, 204, 251);
}

.navContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navContainer div:first-child{
	color: white;
	font-size: 1.5em;
}

.navContainer div:first-child p {
	height: 55px;
	line-height: 55px;
	margin: 0;
	padding: 0;
}

.navContainer ul {
	list-style: none;
	margin: 0;
}

.navContainer ul li {
	display: inline-block;
	font-size: 1.1em;
}

.navContainer .menu {
	width: 58%;
	text-align: center;
}

.navContainer .menu ul li a {
	text-decoration: none;
	padding: 5px 18px;
	color: rgb(173, 204, 251);
}

.navContainer .menu ul li a:hover {
	color: white;
	transition: color 0.5s;
}

.navContainer .nav-search {
	position: relative;
}

.navContainer .nav-search .search-text {
	position: absolute;
	margin: 0;
	top: 2px;
	left: 3px;
	z-index: -100;
}

.navContainer .nav-search .search-input {
	border: none;
	border-bottom: 1px solid rgb(173, 204, 251);
	background: rgb(68, 126, 235);
	outline: none;
	color: white;
	font-size: 1em;
	padding-bottom: 5px;
}

.search-input:focus {
	height: 26px;
}

.navContainer .nav-search .search-input::-webkit-input-placeholder
{
	color: rgb(173, 204, 251);
}

.navContainer .nav-search .search-input::-moz-placeholder 
{
	color: rgb(173, 204, 251);
}

.navContainer .nav-search .search-input::-ms-input-placeholder

{
	color: rgb(173, 204, 251);
}

.bar {
	position: relative;
	display: block;
}

.bar:before, .bar:after {
	content: "";
	height: 2px;
	width: 0;
	border-bottom: 1px;
	background: white; 
	position: absolute;
	bottom: 0.5px;
	transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

.search-input:focus ~ .bar:before, .search-input:focus ~ .bar:after {
	width: 50%;
}

.search-icon {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
}

.navContainer .nav-search .search-input:focus ~ .search-text {
	transform: translateY(-12px);
	transition: transform 0.2s;
	font-size: 0.8em;
	z-index: 100;
}

.modal {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
	height: 50%;
	width: 50%;
	border: none;
	font-size: 2em;
	color: rgb(68, 126, 235);
	text-align: center;
	font-weight: 100;
	background: white;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;


}

.modal:target {
	opacity: 1;
	visibility: visible;
}

.close {
	position: absolute;
	top: 5%;
	right: 2%;
	font-weight: 900;
	padding: 5px 15px;
	text-decoration: none;
	color: rgb(68, 126, 235);
}

.close:hover {
	background: rgb(243, 243, 243);
	transition: background 0.2s;
}
.modal-message {
	margin-top: 30%;
}


.content header h2 {
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	color: rgb(68, 126, 235);
}

.content header p {
	width: 70%;
	margin: auto;
}

.content > section {
	width: 80%;
	margin: 50px auto 0 auto;
	padding-bottom: 50px;
	z-index: 2;
}

#about {
	margin-top: 100px;
}

#about p {
	width: 70%;
	margin: auto;
}

#projectsContainer {
	width: 100%;
	border-radius: 2px;
	margin-top: 50px;
	height: 900px;
	position: relative;
	background: white;
}

.carousel-inner  {
	position: absolute;
	height: 100%;
	width: 65%;
	top: 5%;
	left: 30%;
	color: rgb(84, 84, 84);
	display: none;
}

.carousel-item, .carousel-item-non-js, .carousel-item-forms, .carousel-item-web-components, .carousel-item-shopping-cart,
.carousel-item-color-building-form, .carousel-item-sign-up-form, .carousel-item-scheduling-form, .carousel-item-questionnaire-form,
.carousel-item-shipping-form, .carousel-item-login-form, .carousel-item-search-form, .carousel-item-simple-gallery,
.carousel-item-profile-card
 {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s, max-height 0.6s;
	left: 50%;
	transform: translateX(-50%);
	}

.carousel-open:checked + .carousel-item, .carousel-open-non-js:checked + .carousel-item-non-js, .carousel-open-forms:checked + .carousel-item-forms,
.carousel-open-web-components:checked + .carousel-item-web-components, .carousel-open-shopping-cart:checked + .carousel-item-shopping-cart,
.carousel-open-color-building-form:checked + .carousel-item-color-building-form, .carousel-open-sign-up-form:checked + .carousel-item-sign-up-form,
.carousel-open-scheduling-form:checked + .carousel-item-scheduling-form, .carousel-open-questionnaire-form:checked + .carousel-item-questionnaire-form,
.carousel-open-shipping-form:checked + .carousel-item-shipping-form, .carousel-open-login-form:checked + .carousel-item-login-form,
.carousel-open-search-form:checked + .carousel-item-search-form, .carousel-open-simple-gallery:checked + .carousel-item-simple-gallery,
.carousel-open-profile-card:checked + .carousel-item-profile-card

{
	opacity: 1;
	visibility: visible;
}



.item-wrapper {
	width: 600px;
}

.item-wrapper p {
	line-height: 1.5;
}

.item-wrapper h2{
	font-size: 2em;
}

.item-wrapper h3 {
	font-size: 1.2em;
 }

.technologies {
	width: 80%;
	margin-top: 50%;
	margin-left: 10%;
	position: relative;
}

.mobileLabel {
	display: none;
}

.calculator form {
	position: relative;
	left: 50%;
	top: 30px;
	transform: translate(-50%);
	width: 320px;
	box-shadow: 1px 1px 5px #666666;
	padding: 10px 0 25px 18px;
	background: white;
	border: none;
}

.calculator textarea {
	width: 92%;
	margin-left: 5px;
	border: none;
	font-size: 50px;
	outline: none;
}


.calculator button {
	width: 60px;
	border-radius: 50%;
	height: 60px;
	background-color: white;
	border: 1px solid #D3D3D3;
	margin: 0 0 10px 10px;
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	opacity: 1;
	vertical-align: middle;
}

.calculator button:hover {
	opacity: 0.5;
}

.calculator button.number:hover {
	color: #e5e5e5;
	opacity: 0.7;
}

.calculator .sign {
	background-color: #e5e5e5;
	color: #808080;
	font-size: 2em;
	font-weight: 600;

}

.calculator #plus {
	padding-left: 10px;
	padding-bottom: 5px;
}

.calculator #minus {
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 10px;
	padding-left: 10px;
}

.calculator #multiply {
	padding-top: 15px;
	padding-left: 10px;
}

.calculator #division {
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 1.5em;
}

.calculator #negative {
	background-color: #e5e5e5;
	color: #808080;
	font-size: 2em;
	font-weight: 600;
}
.calculator .del  {
	color: white;
	background-color: #ffb2b2;
	font-weight: 600;
	font-size: 1.2em;
	padding-left: 10px;

}

.calculator .ac {
	background-color: orange;
	color: white;
	font-weight: 600;
	font-size: 1.5em;
}

.calculator .evaluate {
	color: white;
	background-color: gray;
	font-size: 2em;
	font-weight: 400;
}

.calculator .dot {
	font-weight: 900;
	padding-left: 10px;
}

.business-card {
  color: white;
  font-size: 14px;
}

.business-card label {
  cursor: pointer;
  display: block;
  height: 375px;
  width: 630px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;

  position: absolute;

  left: 50%;
  top: 10%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}

.business-card .card {
   height: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;

  width: 100%;
  z-index: 1;  
}

.business-card .card > div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;

  -- Vendor prefix for backface-visibility --
  border-radius: 5px;
  height: 100%;
  position: absolute;
  width: 630px;
  background: url(img/bg1.png);
  box-sizing: border-box;
  padding: 20px;
}

.business-card .card .back {
  background: gray;
  color: white;
  transform: rotateX(180deg);
  -- Vendor prefixes --
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  
}

.business-card label:hover .card {
  
  box-shadow: 1px 1px 2px purple ;
  transform: rotateX(15deg);
  -- Vendor prefixes --
  -webkit-transform: rotateX(15deg);  
  -moz-transform: rotateX(15deg);  
  -o-transform: rotateX(15deg);  
}

.business-card input {
  
  display: none;
  
}

.business-card input:checked + .card {
  
  transform: rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -- Vendor prefixes --
  
}

.business-card label:hover input:checked + .card {
  
  box-shadow: 1px 1px 5px black;
  transform: rotateX(165deg);
  -webkit-backface-visibility: hidden;
  -- Vendor prefixes --
  
}

.business-card .card .heading p {
  font-weight: 100;
  font-size: 3em;
  margin-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.business-card .heading small {
  font-size: 1.2em;
  margin-top: 0;
}

.business-card .description {
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.business-card .web a {
  display: inline-block;
  margin-right: 50px;
  text-decoration: none;
  color: #cd00cd;
  margin-bottom: 30px;
}

.business-card .footer {
}

.business-card .footer img {
	margin-right: 15px;
}

.business-card .footer > * {
  display: inline-block;
  vertical-align: middle;
}

.business-card .footer .footerText a {
  color: #cd00cd;
  text-decoration: none;
}
.business-card .footer .footerText p {
  line-height: 0.5;
}

.business-card .footer .icons {
  margin-left: 165px;
}

.credit-card {
	width: 300px;
	margin: auto;
	border: 2px solid #f2f2f2;
	padding: 0;
	margin-top: 8%;
	color: #606060;
	background: white;

}

.credit-card h2 {
	width: 100%;
	margin: 0;
	padding: 10% 0;
	background-color: #f2f2f2;
	text-align: center;
	font-weight: 100;
	}

.credit-card label, .credit-card input {
	display: block;
	margin-bottom: 15px;
	margin-left: 10%;
	width: 78%;
}

.credit-card img	{
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.credit-card #notEnoughNumbers {
	display: inline;
	float: right;
	font-size: 0.7em;
	color: #7ECDD2;
	margin-right: 35px;
	margin-top: 3px;
}

.credit-card input {
	height: 25px;
	font-size: 1em;
}

.credit-card .invalidInput {
	background-color: #ee6060;
	opacity: 0.5;
	outline: none;
}

.credit-card label[for="cvv"] {
	width: 40%;
	display: inline-block;
}

.credit-card #cvvImg {
	position: absolute;
	top: 25%;
	left: 40%;
	width: 455px;
	display: none;
}

.credit-card #cvv_explained {
	float: right;
	color: #7ECDD2;
	font-size: 0.7em;
	width: 30%;
	margin-top: 2px;
}


.credit-card button {
font-size: 1em;
  background-color: #7ECDD2;
  color: white;
  text-align: center;
  border: none;
  height: 25px;
  width: 78%;
  height: 35px;
  line-height: 30px;
  opacity: 1;
  margin-bottom: 30px;
  margin-top: 15px;
  border-radius: 2px;
  margin-left: 11%;
}

.credit-card .button:hover {
	opacity: 0.75;
}

.credit-card #error {
	font-size: 12px;
	padding: 0;
	color: #7ECDD2;
	margin-left: 12%;
}

.credit-card #error:empty {
	display: none;
}

.color-building-form {
	width: 250px;
	border: 1px solid #7A378B;
	color: #7A378B;
	margin: auto;
	margin-top: 10%;
	font-size: 15px;
	box-shadow: 1px 1px 5px #7A378B;
	padding: 10px 0 0 30px;
	background-color: white;
}

.color-building-form h3 {
	font-size: 22px;
}

.color-building-form label {
	float: left;
	height: 30px;
	line-height: 30px;
	width: 80%;
}

.color-building-form input {
	width: 85%;
	margin-top: 10px;
}

.color-building-form textarea {
	width: 85%;
	height: 100px;
	border: none;
	margin-top: 20px;
}

.signup_form {
	width: 350px;
	padding: 1em;
	border: 1px solid #808080;
	box-shadow: 1px 2px 5px black;
	color: #808080;
	background: white;
}
	

.signup_form input {
	font-size: 20px;
	width: 82%;
	border: none;
	border-bottom: 1px solid #808080;
	margin-left: 9%;
	margin-top: 1em;
	outline-style: none;
	padding-top: 20px;
	padding-bottom: 5px;
}

.signup_form .invalid {
	font-size: 14px;
	color: #ee6060;
	display: block;
	margin-left: 9%;
}

.signup_form #signup-error {
	margin-top: 20px;
}

.signup_form h3 {
	text-align: center;
	font-size: 50px;
	margin: 10px 0;
}

.signup_form button {
	font-size: 30px;
	width: 85%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	background-color: #ee6060;
	border-radius: 3%;
	color: white;
	display: inline-block;
	line-height: 50px;
	border:1px solid #D54339;
	box-shadow: 1px 2px 5px #D54339;
	display: inline-block;
	opacity: 1;
}

.signup_form button:hover {
	opacity: 0.7;
}

.scheduling-form {
	width: 350px;
	margin: auto;
	padding: 20px 0 20px 20px;
	border: 1px solid black;
	box-shadow: 1px 1px 5px black;
	position: relative;
	font-size: 1.2em;
	background: white;
	color: black;
}

.scheduling-form div {
	width: 90%;
	margin-bottom: 20px;

}

.scheduling-form input {
	width: 60%;
	float: right;
	margin-right: -5px;
	height: 20px;

}

.scheduling-form .invalidInput {
	background-color: #ee6060;
	opacity: 0.5;
}

.scheduling-form #scheduling-dateCheck {
	position: absolute;
	right: 10px;
}

.scheduling-form #scheduling-errorMessage {
	width: 40%;
	color: #ee6060;
	font-size: 12px;
	float: right;
	position: absolute;
	top: 50px;
	right: 8%;
}

.scheduling-form textarea {
	height: 100px;
	width:90%;
}

.scheduling-form select {
	margin-top: 10px;
}

.web-components-inner {
  margin: auto;
  width: 500px;
}
.web-components-inner .button {
  display: inline-block;
  font-size: 15px;
  background-color: #7ECDD2;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  height: 30px;
  box-shadow: 2px 2px 5px black;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 1;
}

.web-components-inner .button:hover {
	opacity: 0.75;
}


.web-components-inner .button-sm {
	height: 20px;
	font-size: 10px;
	line-height: 20px;
}



.web-components-inner .button-lg {
	font-size: 30px;
	height: 50px;
	line-height: 50px;
}

.questionnaire form {
	width: 250px;
	border: 1px solid #7ECDD2;
	color: #7ECDD2;
	margin: auto;
	margin-top: 10%;
	font-size: 20px;
	box-shadow: 1px 1px 5px #7ECDD2;
	padding: 10px 0 10px 20px;
}


.questionnaire div {
	padding-bottom: 10px;
	line-height: 30px;
}

.questionnaire .other input {
	border: 1px solid white;
	border-bottom: 1px solid #7ECDD2;
	margin-left: 5px;
	outline: none;
	font-size: 1em;
	width: 60%;
}

.shipping form {
	width: 400px;
	margin: auto;
	border: 1px solid #7ECDD2;
	padding: 5% 2% 5% 5%;
}

.shipping h1 {
	color: #7ECDD2;
	text-align: center;
}

.shipping-section input {
	width: 95%;
	outline: none;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 26px;
	font-size: 1em;
	padding-left: 5px;
}

.shipping #checkbox {
	margin-top: 10px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.shipping #shippingBillingError {
	display: block;
	margin-top: 10px;
	font-size: 0.8em;
	color: #ee6060;
}

.shipping .shortInput div {
	display: inline-block;
	width: 48%;
	margin-right: 2px;
}

.shipping #buttonLine {
	display: block;
}

.shipping button {
	display: inline-block;
	font-size: 1em;
  	background-color: #7ECDD2;
	color: white;
	text-align: center;
	border: none;
	opacity: 1;
	line-height: 35px;
	margin-top: 20px;
	border-radius: 5px;
	width: 40%;
	margin-left: 5%;
}

.shipping button:hover {
	opacity: 0.7;
}

.login form {
	margin: 100px auto;
	width: 300px;
	padding: 1em;
	border: 1px solid #808080;
	box-shadow: 1px 2px 5px black;
	color: #808080;
}

.login .text_input, .password_input {
	font-size: 20px;
	width: 90%;
	border: white;
	border-bottom: 1px solid #808080;
	margin-left: 15px;
  	outline:none;
  	padding-top: 20px;
  	padding-bottom:5px;
}
.login .password_input {
	margin-top: 10px;
}

.login #loginError {
	margin-left: 15px;
	color: #ee6060;
	font-size: 14px;
}

.login .checkbox_input {
	margin-left: 13px;
	margin-top: 10px;
}

.login button {
	font-size: 30px;
	width: 280px;
	margin: auto;
	background-color: #ee6060;
	border-radius: 3%;
	color: white;
	line-height: 50px;
	border:1px solid #D54339;
	box-shadow: 1px 2px 5px #D54339;
	margin-top: 0.6em;
	opacity: 1;
}

.login button:hover {
	opacity: 0.7;
}

.search h3 {
	text-align: center;
	color: #7ECDD2;
	font-size: 3em;
}
.search input {
	width: 600px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	border: 1px solid #7ECDD2;
	margin-left: 50px;
}

.search select {
	width: 100px;
	border: 1px solid #7ECDD2;
	display: block;
	margin-top: 30px;
	margin-left: 50px;
}

.search button {
	line-height: 40px;
 	font-size: 26px;
 	background-color: #7ECDD2;
 	color: white;
 	width: 200px;
 	text-decoration: none;
 	text-align: center;
 	border: none;
 	box-shadow: 2px 2px 5px black;
 	opacity: 1;
 	margin-left: 250px;
 	margin-top: 20px;

}

.search button:hover {
	opacity: 0.7;
}

.sidebar-profile {
	width: 350px;
	margin: auto;
	padding: 2%;
	background-color: #f2f2f2;
	color: #999999;
	font-size: 16px;
	border: 1px solid #7ECDD2;


}

.sidebar-profile h2 {
	font-size: 3em; 
	color: #7ECDD2;
}

.sidebar-profile h2:first-child {
	margin-top: -10px;
	margin-bottom: -40px;
	font-weight: 500;
}

.sidebar-profile h2:nth-child(2) {
	font-weight: 100;
}

.sidebar-profile h3 {
	color: #7ECDD2;
}

.sidebar-profile img {
	max-width: 100%;
}

.car-gallery div.container input{
  
  display:none;
  
}

.car-gallery div.container img.small{
  
  background:black;
  cursor:pointer;
  float:left;
  margin: 0;
  position: relative;
  transition: box-shadow 0.5s;
  z-index:2;
  padding: 5px;
}

.car-gallery div.container img.small:hover {
  box-shadow: 1px 1px 20px black;
}

.car-gallery div.container img.large{
  
  display: block;
  opacity:0;
  position:absolute;
  top:0;
  transition: opacity 0.5s;
  width:100%;
  margin: 0;
  padding: 0;
  z-index: 0;

}

.car-gallery div.container input:nth-of-type(1):checked ~ .placeholder:nth-of-type(1) .large,
.car-gallery div.container input:nth-of-type(2):checked ~ .placeholder:nth-of-type(2) .large,
.car-gallery div.container input:nth-of-type(3):checked ~ .placeholder:nth-of-type(3) .large,
.car-gallery div.container input:nth-of-type(4):checked ~ .placeholder:nth-of-type(4) .large,
.car-gallery div.container input:nth-of-type(5):checked ~ .placeholder:nth-of-type(5) .large {
  opacity:1;
  z-index: 1;
}

.car-gallery .small{
  width:120px;
}

.carouselControl {
	color: #b55894;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	width: 40px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
	z-index: 1000;
	top: 30%;
	display: none;
	transition: background 1s, opacity 1s;
}

.carouselControl:hover {
	background: white;
	opacity: 0.7;
}

.prev{
	left: 5%;
}

.next {
	right: 5%;
}

#calculator-1:checked ~ .control-1,
#calculator-2:checked ~ .control-2,
#calculator-3:checked ~ .control-3,
#calculator-4:checked ~ .control-4

{
    display: block;
}

#non-js-1:checked ~ .control-1,
#non-js-2:checked ~ .control-2,
#non-js-3:checked ~ .control-3,
#non-js-4:checked ~ .control-4

{
    display: block;
}

#forms-1:checked ~ .control-1,
#forms-2:checked ~ .control-2,
#forms-3:checked ~ .control-3,
#forms-4:checked ~ .control-4

{
    display: block;
}

#web-components-1:checked ~ .control-1,
#web-components-2:checked ~ .control-2,
#web-components-3:checked ~ .control-3,
#web-components-4:checked ~ .control-4

{
    display: block;
}
#shopping-cart-1:checked ~ .control-1,
#shopping-cart-2:checked ~ .control-2,
#shopping-cart-3:checked ~ .control-3,
#shopping-cart-4:checked ~ .control-4

{
    display: block;
}

#forms-1:checked ~ .control-1,
#forms-2:checked ~ .control-2,
#forms-3:checked ~ .control-3,
#forms-4:checked ~ .control-4

{
    display: block;
}

#color-building-form-1:checked ~ .control-1,
#color-building-form-2:checked ~ .control-2,
#color-building-form-3:checked ~ .control-3,
#color-building-form-4:checked ~ .control-4

{
    display: block;
}

#sign-up-form-1:checked ~ .control-1,
#sign-up-form-2:checked ~ .control-2,
#sign-up-form-3:checked ~ .control-3,
#sign-up-form-4:checked ~ .control-4

{
    display: block;
}

#scheduling-form-1:checked ~ .control-1,
#scheduling-form-2:checked ~ .control-2,
#scheduling-form-3:checked ~ .control-3,
#scheduling-form-4:checked ~ .control-4
{
    display: block;
}

#questionnaire-form-1:checked ~ .control-1,
#questionnaire-form-2:checked ~ .control-2,
#questionnaire-form-3:checked ~ .control-3,
#questionnaire-form-4:checked ~ .control-4
{
    display: block;
}

#shipping-form-1:checked ~ .control-1,
#shipping-form-2:checked ~ .control-2,
#shipping-form-3:checked ~ .control-3,
#shipping-form-4:checked ~ .control-4
{
    display: block;
}

#login-form-1:checked ~ .control-1,
#login-form-2:checked ~ .control-2,
#login-form-3:checked ~ .control-3,
#login-form-4:checked ~ .control-4
{
    display: block;
}

#search-form-1:checked ~ .control-1,
#search-form-2:checked ~ .control-2,
#search-form-3:checked ~ .control-3,
#search-form-4:checked ~ .control-4
{
    display: block;
}

#simple-gallery-1:checked ~ .control-1,
#simple-gallery-2:checked ~ .control-2,
#simple-gallery-3:checked ~ .control-3,
#simple-gallery-4:checked ~ .control-4
{
    display: block;
}

#profile-card-1:checked ~ .control-1,
#profile-card-2:checked ~ .control-2,
#profile-card-3:checked ~ .control-3,
#profile-card-4:checked ~ .control-4
{
    display: block;
}

.bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-70%);
	top: 600px;
}

.bullets ul {
	list-style: none;
}

.bullets ul li {
	font-size: 1.5em;
	display: inline-block;
	opacity: 0.5;
}

.bullets ul li label:hover {
	cursor: pointer;
}

.calculator .carousel-open:nth-of-type(1):checked ~ .calculator-bullet ul li:nth-of-type(1),
.calculator .carousel-open:nth-of-type(2):checked ~ .calculator-bullet ul li:nth-of-type(2),
.calculator .carousel-open:nth-of-type(3):checked ~ .calculator-bullet ul li:nth-of-type(3),
.calculator .carousel-open:nth-of-type(4):checked ~ .calculator-bullet ul li:nth-of-type(4),
.non-js .carousel-open-non-js:nth-of-type(1):checked ~ .non-js-bullet ul li:nth-of-type(1),
.non-js .carousel-open-non-js:nth-of-type(2):checked ~ .non-js-bullet ul li:nth-of-type(2),
.non-js .carousel-open-non-js:nth-of-type(3):checked ~ .non-js-bullet ul li:nth-of-type(3),
.non-js .carousel-open-non-js:nth-of-type(4):checked ~ .non-js-bullet ul li:nth-of-type(4),
.forms .carousel-open-forms:nth-of-type(1):checked ~ .forms-bullet ul li:nth-of-type(1),
.forms .carousel-open-forms:nth-of-type(2):checked ~ .forms-bullet ul li:nth-of-type(2),
.forms .carousel-open-forms:nth-of-type(3):checked ~ .forms-bullet ul li:nth-of-type(3),
.forms .carousel-open-forms:nth-of-type(4):checked ~ .forms-bullet ul li:nth-of-type(4),
.web-components .carousel-open-web-components:nth-of-type(1):checked ~ .web-components-bullet ul li:nth-of-type(1),
.web-components .carousel-open-web-components:nth-of-type(2):checked ~ .web-components-bullet ul li:nth-of-type(2),
.web-components .carousel-open-web-components:nth-of-type(3):checked ~ .web-components-bullet ul li:nth-of-type(3),
.web-components .carousel-open-web-components:nth-of-type(4):checked ~ .web-components-bullet ul li:nth-of-type(4),
.shopping-cart .carousel-open-shopping-cart:nth-of-type(1):checked ~ .shopping-cart-bullet ul li:nth-of-type(1),
.shopping-cart .carousel-open-shopping-cart:nth-of-type(2):checked ~ .shopping-cart-bullet ul li:nth-of-type(2),
.shopping-cart .carousel-open-shopping-cart:nth-of-type(3):checked ~ .shopping-cart-bullet ul li:nth-of-type(3),
.shopping-cart .carousel-open-shopping-cart:nth-of-type(4):checked ~ .shopping-cart-bullet ul li:nth-of-type(4),
.color-building .carousel-open-color-building-form:nth-of-type(1):checked ~ .color-building-form-bullet ul li:nth-of-type(1),
.color-building .carousel-open-color-building-form:nth-of-type(2):checked ~ .color-building-form-bullet ul li:nth-of-type(2),
.color-building .carousel-open-color-building-form:nth-of-type(3):checked ~ .color-building-form-bullet ul li:nth-of-type(3),
.color-building .carousel-open-color-building-form:nth-of-type(4):checked ~ .color-building-form-bullet ul li:nth-of-type(4),
.sign-up .carousel-open-sign-up-form:nth-of-type(1):checked ~ .sign-up-form-bullet ul li:nth-of-type(1),
.sign-up .carousel-open-sign-up-form:nth-of-type(2):checked ~ .sign-up-form-bullet ul li:nth-of-type(2),
.sign-up .carousel-open-sign-up-form:nth-of-type(3):checked ~ .sign-up-form-bullet ul li:nth-of-type(3),
.sign-up .carousel-open-sign-up-form:nth-of-type(4):checked ~ .sign-up-form-bullet ul li:nth-of-type(4),
.scheduling .carousel-open-scheduling-form:nth-of-type(1):checked ~ .scheduling-form-bullet ul li:nth-of-type(1),
.scheduling .carousel-open-scheduling-form:nth-of-type(2):checked ~ .scheduling-form-bullet ul li:nth-of-type(2),
.scheduling .carousel-open-scheduling-form:nth-of-type(3):checked ~ .scheduling-form-bullet ul li:nth-of-type(3),
.scheduling .carousel-open-scheduling-form:nth-of-type(4):checked ~ .scheduling-form-bullet ul li:nth-of-type(4),
.questionnaire .carousel-open-questionnaire-form:nth-of-type(1):checked ~ .questionnaire-form-bullet ul li:nth-of-type(1),
.questionnaire .carousel-open-questionnaire-form:nth-of-type(2):checked ~ .questionnaire-form-bullet ul li:nth-of-type(2),
.questionnaire .carousel-open-questionnaire-form:nth-of-type(3):checked ~ .questionnaire-form-bullet ul li:nth-of-type(3),
.questionnaire .carousel-open-questionnaire-form:nth-of-type(4):checked ~ .questionnaire-form-bullet ul li:nth-of-type(4),
.shipping .carousel-open-shipping-form:nth-of-type(1):checked ~ .shipping-form-bullet ul li:nth-of-type(1),
.shipping .carousel-open-shipping-form:nth-of-type(2):checked ~ .shipping-form-bullet ul li:nth-of-type(2),
.shipping .carousel-open-shipping-form:nth-of-type(3):checked ~ .shipping-form-bullet ul li:nth-of-type(3),
.shipping .carousel-open-shipping-form:nth-of-type(4):checked ~ .shipping-form-bullet ul li:nth-of-type(4),
.login .carousel-open-login-form:nth-of-type(1):checked ~ .login-form-bullet ul li:nth-of-type(1),
.login .carousel-open-login-form:nth-of-type(2):checked ~ .login-form-bullet ul li:nth-of-type(2),
.login .carousel-open-login-form:nth-of-type(3):checked ~ .login-form-bullet ul li:nth-of-type(3),
.login .carousel-open-login-form:nth-of-type(4):checked ~ .login-form-bullet ul li:nth-of-type(4),
.search .carousel-open-search-form:nth-of-type(1):checked ~ .search-form-bullet ul li:nth-of-type(1),
.search .carousel-open-search-form:nth-of-type(2):checked ~ .search-form-bullet ul li:nth-of-type(2),
.search .carousel-open-search-form:nth-of-type(3):checked ~ .search-form-bullet ul li:nth-of-type(3),
.search .carousel-open-search-form:nth-of-type(4):checked ~ .search-form-bullet ul li:nth-of-type(4),
.car-gallery .carousel-open-simple-gallery:nth-of-type(1):checked ~ .simple-gallery-bullet ul li:nth-of-type(1),
.car-gallery .carousel-open-simple-gallery:nth-of-type(2):checked ~ .simple-gallery-bullet ul li:nth-of-type(2),
.car-gallery .carousel-open-simple-gallery:nth-of-type(3):checked ~ .simple-gallery-bullet ul li:nth-of-type(3),
.car-gallery .carousel-open-simple-gallery:nth-of-type(4):checked ~ .simple-gallery-bullet ul li:nth-of-type(4),
.profile .carousel-open-profile-card:nth-of-type(1):checked ~ .profile-card-bullet ul li:nth-of-type(1),
.profile .carousel-open-profile-card:nth-of-type(2):checked ~ .profile-card-bullet ul li:nth-of-type(2),
.profile .carousel-open-profile-card:nth-of-type(3):checked ~ .profile-card-bullet ul li:nth-of-type(3),
.profile .carousel-open-profile-card:nth-of-type(4):checked ~ .profile-card-bullet ul li:nth-of-type(4)

{
	opacity: 1;
}

#projectsContainer .tabComponent {
	width: 25%;
	height: 100%;
	font-size: 1.1em;
	font-weight: 400;
	background: rgb(243, 243, 243);
	text-align: right;
	overflow: scroll;
}

#projectsContainer .tabComponent input {
	display: none;
}

#projectsContainer .tabComponent label {
	display: block;
	padding: 20px 30px;
}

#projectsContainer .tabComponent label:hover {
	color: rgb(68, 126, 235);
}

.carousel-start:nth-of-type(1):checked ~ .tabComponent label:nth-of-type(1), .carousel-start:nth-of-type(2):checked ~ .tabComponent label:nth-of-type(2),
.carousel-start:nth-of-type(3):checked ~ .tabComponent label:nth-of-type(3), .carousel-start:nth-of-type(4):checked ~ .tabComponent label:nth-of-type(4),
.carousel-start:nth-of-type(5):checked ~ .tabComponent label:nth-of-type(5), .carousel-start:nth-of-type(6):checked ~ .tabComponent label:nth-of-type(6), 
.carousel-start:nth-of-type(7):checked ~ .tabComponent label:nth-of-type(7), .carousel-start:nth-of-type(8):checked ~ .tabComponent label:nth-of-type(8),
.carousel-start:nth-of-type(9):checked ~ .tabComponent label:nth-of-type(9), .carousel-start:nth-of-type(10):checked ~ .tabComponent label:nth-of-type(10),
.carousel-start:nth-of-type(11):checked ~ .tabComponent label:nth-of-type(11), .carousel-start:nth-of-type(12):checked ~ .tabComponent label:nth-of-type(12),
.carousel-start:nth-of-type(13):checked ~ .tabComponent label:nth-of-type(13), .carousel-start:nth-of-type(14):checked ~ .tabComponent label:nth-of-type(14)

{	
	color: rgb(68, 126, 235);
	background: white;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.carousel-start:nth-of-type(1):checked ~ .carousel-inner:nth-of-type(1), .carousel-start:nth-of-type(2):checked ~ .carousel-inner:nth-of-type(2),
.carousel-start:nth-of-type(3):checked ~ .carousel-inner:nth-of-type(3), .carousel-start:nth-of-type(4):checked ~ .carousel-inner:nth-of-type(4),
.carousel-start:nth-of-type(5):checked ~ .carousel-inner:nth-of-type(5), .carousel-start:nth-of-type(6):checked ~ .carousel-inner:nth-of-type(6),
.carousel-start:nth-of-type(7):checked ~ .carousel-inner:nth-of-type(7), .carousel-start:nth-of-type(8):checked ~ .carousel-inner:nth-of-type(8),
.carousel-start:nth-of-type(9):checked ~ .carousel-inner:nth-of-type(9), .carousel-start:nth-of-type(10):checked ~ .carousel-inner:nth-of-type(10),
.carousel-start:nth-of-type(11):checked ~ .carousel-inner:nth-of-type(11), .carousel-start:nth-of-type(12):checked ~ .carousel-inner:nth-of-type(12),
.carousel-start:nth-of-type(13):checked ~ .carousel-inner:nth-of-type(13), .carousel-start:nth-of-type(14):checked ~ .carousel-inner:nth-of-type(14)

{
	display: block;
}


#skills {
	position: relative;
}

#skills header {
	height: 200px;
}

.expertise {
	position: relative;
	transform: translate(-50%);
	background: rgb(58, 58, 58);
	color: rgb(210, 210, 210);
	font-size: 0.8em;
	border-radius: 5%;
	padding: 0 2%;
	box-shadow: 0px 0px 2px rgb(58, 58, 58);
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.frontendExpertise {
	position: absolute;
	background: rgb(58, 58, 58);
	color: rgb(210, 210, 210);
	border-radius: 5%;
	box-shadow: 0px 0px 2px rgb(58, 58, 58);
	transform: translate(-50%);
	transition: opacity 0.2s ease-in;
	padding: 0 1.5%;
	height: 30px;
	line-height: 30px;
	opacity: 0;
}

.frontendExpertise:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid;
	left: 50%;
	top: 100%;
	transform: translate(-50%);
	border-color: rgb(58, 58, 58) transparent transparent transparent;
}

.frontendExpertise:nth-child(1) {
	left: 44%;
	top: 120px;
}

.frontendExpertise:nth-child(2) {
	left: 54%;
	top: 180px;
}

.frontendExpertise:nth-child(3) {
	left: 64%;
	top: 120px;
}

.frontendExpertise:nth-child(4) {
	left: 74%;
	top: 180px;
}

.frontendExpertise:nth-child(5) {
	left: 84%;
	top: 245px;
}



.expertise:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid;
	left: 50%;
	transform: translate(-50%);
	border-color: rgb(58, 58, 58) transparent transparent transparent;
}

.svgContainer {
	background: white;
	padding-bottom: 100px;
}

.skill-svg {
	background: white;
	width: 100%;
	height: 100px;
}

.frontendContainer, .backendContainer, .othersContainer {
	width: 49%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.othersContainer {
	left: 50%;
	transform: translate(-50%);
}

.frontend-svg, .backend-svg, .others-svg {
	width: 100%;
	height: 420px;
}

.skill-category {
	top: 100px;
}

.rotate-text-list {
	list-style: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	left: 48%;
}

.othersContainer .rotate-text-list {
	bottom: -20px;
}

.rotate-text-list li {
	width: 14%;
	display: inline-block;
	transform: rotate(50deg);
	transform-origin: 0% 0%;
	margin-left: -4%;
}

.contact-item {
	margin-top: 50px;
	position: relative;
	height: 375px;
	left: 50%;
	width: 630px;
	transform: translate(-50%);
}

#contact {
	height: 600px;
}

#footer {
	width: 100%;
	text-align: center;
	background: rgb(58, 58, 58);
	height: 50px;
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	line-height: 50px;
}

#footer p {
	color: rgb(131, 131, 131);
}

.mobileSlide {
	display: none;
}

@media screen 
and (min-width: 600px) 
and (max-width: 1024px)
{
	nav {
		background: #AB47BC;
		color: #E1BEE7;
	}

	.navContainer .menu ul li a {
		color: #E1BEE7;

	}
	.navContainer .nav-search .search-input {
		background: #AB47BC;
	}
	.content header h2 {
		color: #AB47BC;
	}

	.content > section {
		width: 100%;
	}

	#projectsContainer .tabComponent label:hover {
	color: #AB47BC;

}

.carousel-start:nth-of-type(1):checked ~ .tabComponent label:nth-of-type(1), .carousel-start:nth-of-type(2):checked ~ .tabComponent label:nth-of-type(2),
.carousel-start:nth-of-type(3):checked ~ .tabComponent label:nth-of-type(3), .carousel-start:nth-of-type(4):checked ~ .tabComponent label:nth-of-type(4),
.carousel-start:nth-of-type(5):checked ~ .tabComponent label:nth-of-type(5), .carousel-start:nth-of-type(6):checked ~ .tabComponent label:nth-of-type(6), 
.carousel-start:nth-of-type(7):checked ~ .tabComponent label:nth-of-type(7), .carousel-start:nth-of-type(8):checked ~ .tabComponent label:nth-of-type(8),
.carousel-start:nth-of-type(9):checked ~ .tabComponent label:nth-of-type(9), .carousel-start:nth-of-type(10):checked ~ .tabComponent label:nth-of-type(10),
.carousel-start:nth-of-type(11):checked ~ .tabComponent label:nth-of-type(11), .carousel-start:nth-of-type(12):checked ~ .tabComponent label:nth-of-type(12),
.carousel-start:nth-of-type(13):checked ~ .tabComponent label:nth-of-type(13), .carousel-start:nth-of-type(14):checked ~ .tabComponent label:nth-of-type(14)
{
	color: #AB47BC;
}

	.shopping-cart-img 
	{
		width: 400px;
	}
}

@media screen 
and (max-width: 414px) {

	nav {
		display: none;
	}

	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobileSlide {
	display: block;
}

#fix-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    background-color: rgb(47, 220, 229);
}

#fix-bar .logo {
    position: absolute;
    left: 0;
    width: 250px;
    transform: translate3d(-50%, 0, 0);
    transition: transform 0.5s ease;
    top: -10px;
}

#fix-bar .logo a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
    width: 60px;
    height: 24px;
    padding: 18px 16px 18px 24px;
    box-sizing: content-box;
}

#fix-bar .push {
    position: relative;
    left: 0;
    height: 100%;
    background-color: rgb(47, 220, 229);
    transition: transform 0.5s ease;
}

.hamburguer {
    width: 72px;
    height: 60px;
    display: block;
    position: relative;
    cursor: pointer;
}

.hamburguer span {
    display: block;
    position: absolute;
    height: 4px;
    width: 24px;
    background: #fff;
    opacity: 1;
    left: 24px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}

.hamburguer span:nth-child(1) {
    top: 20px;
}

.hamburguer span:nth-child(2),
.hamburguer span:nth-child(3) {
    top: 28px;
}

.hamburguer span:nth-child(4) {
    top: 36px;
}

#canvas {
    padding-top: 50px;
    overflow: hidden;
    height: 100%;
}

#nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    transform: translate3d(-50%, 0, 0);
    transition: transform 0.5s ease;
    padding-top: 12px;
    height: 100%;
    z-index: -1;
    background: white;
}

#nav a, .mobileMenuItem {
	color: rgb(84, 84, 84);
    text-decoration: none;
    display: block;
    padding: 14px 24px;
    font: 20px/1 'Montserrat', sans-serif;
    font-weight: 700;
}

#nav a:hover, .mobileMenuItem:hover {
    background-color: #eee;
    cursor: pointer;
}


#nav .projectsMenuContent ul {
	height: 270px;
	overflow:scroll;
	border-left: 2px solid rgb(47, 220, 229);
	margin: 10%;
	margin-left: 15%;
	padding-left: 10%;
	list-style-type: none;
	font-size: 18px;
}

#nav .projectsMenuContent ul li {
	padding-bottom: 10px;
}

#nav .projectsMenuContent ul li:hover {
	color: rgb(47, 220, 229);
}

#nav .site-menu {
    position: relative;
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#nav .copy {
    position: absolute;
    bottom: 0;
    padding: 16px 24px;
    font-size: 12px;
    line-height: 1.4;
}

#content {
    overflow-x: hidden;
    position: relative;
    left: 0;
    height: 100%;
    transition: transform 0.5s ease;
    transform: translate3d(0, 0, 0);
}

.mask {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, z-index 0s 0.5s;
    background-color: rgba(0,0,0,0.5);
}

input#show-menu {
    position: absolute;
    opacity: 0;
}

input#show-menu:checked ~ #fix-bar .push {
    transform: translate3d(250px, 0, 0);
}

input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(1),
input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(4) {
    top: 28px;
    width: 0;
    left: 50%;
}

input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(2) {
    transform: rotate(45deg);
}

input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(3) {
    transform: rotate(-45deg);
}

input#show-menu:checked ~ #canvas .mask {
    z-index: 1;
    opacity: 1;
    transform: translate3d(250px, 0, 0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

input#show-menu:checked ~ #canvas #nav,
input#show-menu:checked ~ #fix-bar .logo {
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

input#show-menu:checked ~ #canvas #content {
    transform: translate3d(250px, 0, 0);
}

.projectsMenuContent {
	display: none;
}

input#projectsMenu:checked ~ .projectsMenuContent {
	display: block;
}

	.content header p {
		width: 90%;
		font-size: 1.2em;
	}

	.content header h2 {
		color: rgb(47, 220, 229);
	}

	.content > section {
		width: 90%;
	}

	#about {
		width: 90%;
		margin-top: 70px;
	}

	#about p {
		width: 90%;
		font-size: 1.2em;
	}

	#projects {
		width: 95%;
		box-sizing: border-box;
	}

	#projectsContainer {
		border: 1px solid black;
		height: auto;
		border: 4px solid rgb(47, 220, 229);
		left: 50%;
		transform: translate(-50%);
		border-radius: 1%;
	}

	#projectsContainer .tabComponent {
		display: none;
	}

	.mobileLabel {
		color: rgb(47, 220, 229);
		display: block;
		font-size: 1.2em;
		padding: 5px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background: rgb(245, 245, 245);
		border-bottom: 1px solid rgb(47, 220, 229);
		transition: color .5s, background .5s, transform .5s;
	}

	.mobileLabel:hover {
		color: black;
	}

.carousel-start:nth-of-type(1):checked ~ .mobileLabel:nth-of-type(1), .carousel-start:nth-of-type(2):checked ~ .mobileLabel:nth-of-type(2),
.carousel-start:nth-of-type(3):checked ~ .mobileLabel:nth-of-type(3), .carousel-start:nth-of-type(4):checked ~ .mobileLabel:nth-of-type(4),
.carousel-start:nth-of-type(5):checked ~ .mobileLabel:nth-of-type(5), .carousel-start:nth-of-type(6):checked ~ .mobileLabel:nth-of-type(6), 
.carousel-start:nth-of-type(7):checked ~ .mobileLabel:nth-of-type(7), .carousel-start:nth-of-type(8):checked ~ .mobileLabel:nth-of-type(8),
.carousel-start:nth-of-type(9):checked ~ .mobileLabel:nth-of-type(9), .carousel-start:nth-of-type(10):checked ~ .mobileLabel:nth-of-type(10),
.carousel-start:nth-of-type(11):checked ~ .mobileLabel:nth-of-type(11), .carousel-start:nth-of-type(12):checked ~ .mobileLabel:nth-of-type(12),
.carousel-start:nth-of-type(13):checked ~ .mobileLabel:nth-of-type(13), .carousel-start:nth-of-type(14):checked ~ .mobileLabel:nth-of-type(14)

{	
	color: black;
	background: white;
	border-bottom: none;
}

	.carousel-inner {
		position: relative;
		left: 50%;
		transform: translate(-50%);
		overflow: hidden;
		top: 0;
		box-sizing: border-box;
		width: 100%;
		height: 500px;
		transition: border-left .5s;
	}
	.carousel-start:nth-of-type(1):checked ~ .carousel-inner:nth-of-type(1), .carousel-start:nth-of-type(2):checked ~ .carousel-inner:nth-of-type(2),
	.carousel-start:nth-of-type(3):checked ~ .carousel-inner:nth-of-type(3), .carousel-start:nth-of-type(4):checked ~ .carousel-inner:nth-of-type(4),
	.carousel-start:nth-of-type(5):checked ~ .carousel-inner:nth-of-type(5), .carousel-start:nth-of-type(6):checked ~ .carousel-inner:nth-of-type(6),
	.carousel-start:nth-of-type(7):checked ~ .carousel-inner:nth-of-type(7), .carousel-start:nth-of-type(8):checked ~ .carousel-inner:nth-of-type(8),
	.carousel-start:nth-of-type(9):checked ~ .carousel-inner:nth-of-type(9), .carousel-start:nth-of-type(10):checked ~ .carousel-inner:nth-of-type(10),
	.carousel-start:nth-of-type(11):checked ~ .carousel-inner:nth-of-type(11), .carousel-start:nth-of-type(12):checked ~ .carousel-inner:nth-of-type(12),
	.carousel-start:nth-of-type(13):checked ~ .carousel-inner:nth-of-type(13), .carousel-start:nth-of-type(14):checked ~ .carousel-inner:nth-of-type(14)
	{
		display: block;
	}

	.item-wrapper {
	width: 250px;
	}

	.calculator {
		height: 650px;
	}

	.business-card {
		width: 95%;
	}

	.business-card .footer .footerText p {
		margin-top: 10px;
	}

	.business-card label {
		width: 100%;
	}

	.business-card .card > div {
		width: 100%;
	}
	.business-card .card .heading p, .card .heading small {
  	font-weight: 100;
  	font-size: 1em;
  	margin-top: 0;
  	padding-top: 0;
  	padding-bottom: 0;
  	margin-bottom: 0;
}
	.business-card .description {
 		margin-right: 10px;
 		margin-top: 10px;
 		margin-bottom: 5px;
}
	.business-card .web a {
  display: inline-block;
  text-decoration: none;
  color: #cd00cd;
}
.business-card .footer .icons {
	margin-top: 10px;
 	margin-left: 0px;
}

.forms, .sign-up, .profile {
		width: 95%;
		height: 600px;
	}


	#cvvImg {
		width: 70%;
		position: absolute;
		left: 0;
	}

	.web-components {
		width: 95%;
	}

	.web-components-inner {
		width: 100%;
	}

	.web-components-inner * {
		display: block;
	}

	.web-components-inner .button-lg {
		font-size: 1.5em;
		margin-top: 5%;
	}

	.signup_form {
		width: 300px;
	}

	.scheduling {
		width: 90%;
	}

	.scheduling-form {
		width: 300px;
	}


	.scheduling-form input {
		width: 65%;
	}

	.scheduling-form select {
		width: 100%;
	}

	.shipping {
		width: 100%;
		overflow-y: scroll;
	}

	.carousel-item-shipping-form {
		width: 100%;
	}

	.shipping .carousel-item-shipping-form form {
		width: 90%;
	}
	

	.search {
		width: 90%;
	}

	.search .carousel-item-search-form {
		width: 100%;
	}

	.search input {
		width: 90%;
		margin-left: 5%; 

	}
	.search button {
		width: 36%;
		left: 32%;
		font-size: 2em;
		top: 85%;
		margin-left: 32%;
 		margin-top: 50px;
	}

	.search select {
		margin-left: 5%;
	}

	.car-gallery {
		width: 100%;
	}

	.car-gallery .carousel-item-simple-gallery {
		width: 100%;
	}

	.car-gallery .small {
    width: 50px;
  }

  	.carousel-item-profile-card {
  		width: 100%;
  	}

	.sidebar-profile {
  		width: 90%;
  	}

  	.sidebar-profile h2 {
  		width: 2em;
  	}

  	.sidebar-profile h2:first-child {
  		margin: 0;
	}

	#skills {
		width: 95%;
	}

	#svgContainer {
		display: flex;
		width: 100%;
	}

	.frontendContainer, .backendContainer, .othersContainer {
		width: 100%;
		font-size: 0.8em;
	}

	.frontendRects {

	}

	#contact {
		height: 750px;
	}

	.contact-item {
		width: 100%;
	}

	.shopping-cart-img 
	{
		width: 300px;
	}
}


@media screen 
and (max-width: 320px) {

.scheduling-form {
		width: 250px;
	}

.shipping button[type=submit] {
	font-size: 0.7em;
}

.login {
	width: 90%;
}

.login .carousel-item-login-form {
	width: 100%;
}

.login form {
	margin: 0;
	width: 250px;
	padding: 10px;
}

.login button {
	font-size: 20px;
	width: 100%;
}

.search button{
	font-size: 1.5em;
}
}