.calculator form {
	position: relative;
	left: 50%;
	top: 30px;
	transform: translate(-50%);
	width: 320px;
	box-shadow: 1px 1px 5px #666666;
	padding: 10px 0 25px 18px;
	background: white;
	border: none;
}

.calculator textarea {
	width: 92%;
	margin-left: 5px;
	border: none;
	font-size: 50px;
	outline: none;
}


.calculator button {
	width: 60px;
	border-radius: 50%;
	height: 60px;
	background-color: white;
	border: 1px solid #D3D3D3;
	margin: 0 0 10px 10px;
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	opacity: 1;
	vertical-align: middle;
}

.calculator button:hover {
	opacity: 0.5;
}

.calculator button.number:hover {
	color: #e5e5e5;
	opacity: 0.7;
}

.calculator .sign {
	background-color: #e5e5e5;
	color: #808080;
	font-size: 2em;
	font-weight: 600;

}

.calculator #plus {
	padding-left: 10px;
	padding-bottom: 5px;
}

.calculator #minus {
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 10px;
	padding-left: 10px;
}

.calculator #multiply {
	padding-top: 15px;
	padding-left: 10px;
}

.calculator #division {
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 1.5em;
}

.calculator #negative {
	background-color: #e5e5e5;
	color: #808080;
	font-size: 2em;
	font-weight: 600;
}
.calculator .del  {
	color: white;
	background-color: #ffb2b2;
	font-weight: 600;
	font-size: 1.2em;
	padding-left: 10px;

}

.calculator .ac {
	background-color: orange;
	color: white;
	font-weight: 600;
	font-size: 1.5em;
}

.calculator .evaluate {
	color: white;
	background-color: gray;
	font-size: 2em;
	font-weight: 400;
}

.calculator .dot {
	font-weight: 900;
	padding-left: 10px;
}