.login form {
	margin: 100px auto;
	width: 300px;
	padding: 1em;
	border: 1px solid #808080;
	box-shadow: 1px 2px 5px black;
	color: #808080;
}

.login .text_input, .password_input {
	font-size: 20px;
	width: 90%;
	border: white;
	border-bottom: 1px solid #808080;
	margin-left: 15px;
  	outline:none;
  	padding-top: 20px;
  	padding-bottom:5px;
}
.login .password_input {
	margin-top: 10px;
}

.login #loginError {
	margin-left: 15px;
	color: #ee6060;
	font-size: 14px;
}

.login .checkbox_input {
	margin-left: 13px;
	margin-top: 10px;
}

.login button {
	font-size: 30px;
	width: 280px;
	margin: auto;
	background-color: #ee6060;
	border-radius: 3%;
	color: white;
	line-height: 50px;
	border:1px solid #D54339;
	box-shadow: 1px 2px 5px #D54339;
	margin-top: 0.6em;
	opacity: 1;
}

.login button:hover {
	opacity: 0.7;
}