.sidebar-profile {
	width: 350px;
	margin: auto;
	padding: 2%;
	background-color: #f2f2f2;
	color: #999999;
	font-size: 16px;
	border: 1px solid #7ECDD2;


}

.sidebar-profile h2 {
	font-size: 3em; 
	color: #7ECDD2;
}

.sidebar-profile h2:first-child {
	margin-top: -10px;
	margin-bottom: -40px;
	font-weight: 500;
}

.sidebar-profile h2:nth-child(2) {
	font-weight: 100;
}

.sidebar-profile h3 {
	color: #7ECDD2;
}

.sidebar-profile img {
	max-width: 100%;
}